<!-- {{room | json}} -->
<!-- {{roomsForm.valid| json}}
{{roomsForm.invalid| json}}
{{roomsForm.pristine| json}}
{{roomsForm.dirty| json}}
{{roomsForm.value| json}} -->
<div class="alert alert-success" *ngIf="successMessage != ''">
  {{successMessage}}
</div>
<div class="container">
  <form  #roomsForm = "ngForm" (ngSubmit)="addRoom(roomsForm)">
    <div class="form-group">
      <input type="text" class="form-control" name="roomType" placeholder="Room Type"
      [(ngModel)]="room.roomType" required
      [ngModelOptions]="{updateOn: 'blur'}"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="amenities" placeholder="Amenities"
      [(ngModel)]="room.amenities" required minlength="5" maxlength="20" #roomAmenities = ngModel/>
    </div>
    <div class="alert alert-danger" *ngIf="roomAmenities.errors?.['minlength']">
      Amenities should be minimum 5 character long
    </div>
    <div class="alert alert-danger" *ngIf="roomAmenities.dirty && roomAmenities.errors?.['minlength']">
      Please provide the amenities
    </div>
    <div class="form-group">
      <input type="number" class="form-control" name="price" placeholder="Price"
      [(ngModel)]="room.price" required/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="photos" placeholder="Photos"
      [(ngModel)]="room.photos" required/>
    </div>
    <div class="form-group">
      <input type="datetime" class="form-control" name="checkinTime" placeholder="Checkin Time"
      [(ngModel)]="room.checkinTime" required/>
    </div>
    <div class="form-group">
      <input type="datetime" class="form-control" name="checkoutTime" placeholder="Checkout Time"
      [(ngModel)]="room.checkoutTime" required/>
    </div>
    <div class="form-group">
      <input type="number" class="form-control" name="rating" placeholder="Rating"
      [(ngModel)]="room.rating" required min="1" max="5"/>
    </div>
    <div>
      <button class="btn btn-primary" [disabled]="roomsForm.invalid">Submit</button>
    </div>
  </form>
</div>

