{{bookingForm.value | json}}
{{bookingForm.pristine | json}}
{{bookingForm.dirty | json}}
<div class="booking_form_container">
  <form [formGroup]="bookingForm" class="example-form" (ngSubmit)="addBooking()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>RoomId</mat-label>
      <input type="text" matInput formControlName="roomId" placeholder='roomId' />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Guest Name</mat-label>
      <input type="text" matInput formControlName="guestName" placeholder='Guest Name' />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Guest Email</mat-label>
      <input type="text" matInput formControlName="guestEmail" placeholder='Guest Email' />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Mobile Number</mat-label>
      <input type="text" matInput formControlName="mobileNumber" placeholder='Mobile Number' />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Booking Amount</mat-label>
      <input type="text" matInput formControlName="bookingAmount" placeholder='Booking Amount' />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Checkin Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="checkinDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
   <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Checkout Date</mat-label>
    <input matInput [matDatepicker]="checkout" formControlName="checkoutDate" />
    <mat-datepicker-toggle matSuffix [for]="checkout"></mat-datepicker-toggle>
    <mat-datepicker #checkout></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Booking Date</mat-label>
      <input matInput [matDatepicker]="booking" formControlName="bookingDate" />
      <mat-datepicker-toggle matSuffix [for]="booking"></mat-datepicker-toggle>
      <mat-datepicker #booking></mat-datepicker>
    </mat-form-field>
        <!-- <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Room</mat-label>
      <input
      type = "text"
      matInput
      formControlName="roomId"
      placeholder='roomId'/>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Room</mat-label>
      <input
      type = "text"
      matInput
      formControlName="roomId"
      placeholder='roomId'/>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Room</mat-label>
      <input
      type = "text"
      matInput
      formControlName="roomId"
      placeholder='roomId'/>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Room</mat-label>
      <input
      type = "text"
      matInput
      formControlName="roomId"
      placeholder='roomId'/>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Room</mat-label>
      <input
      type = "text"
      matInput
      formControlName="roomId"
      placeholder='roomId'/>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Room</mat-label>
      <input
      type = "text"
      matInput
      formControlName="roomId"
      placeholder='roomId'/>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Room</mat-label>
      <input
      type = "text"
      matInput
      formControlName="roomId"
      placeholder='roomId'/>
    </mat-form-field> -->
    <div>
      <button mat-raised-button color="primary">Book Room</button>
    </div>
  </form>
</div>
